<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мої Екзаменаційні Білети{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'subject_list' %}">Екзаменаційні Білети</a></h1>
    </header>
    <main>
        {% block content %}
        <!-- Сюди буде вставлятися контент конкретної сторінки -->
        {% endblock %}
    </main>
    <footer>
        <p>© {% now "Y" %} Твій Проект. Зроблено з ❤️</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>